.login-bg{
-fx-background-color:linear-gradient(to bottom right , rgba(0, 0, 0, 0.85), rgba(85, 85, 85, 0.85));
}

.textfield-design{
-fx-background-color:transparent;
-fx-border-radius:5px;
-fx-border-color: linear-gradient(to bottom right, rgba(0, 0, 0, 0.85), rgba(85, 85, 85, 0.85));
-fx-text-inner-color:#000;
}

.login-button{
-fx-background-color:linear-gradient(to bottom right , rgba(0, 0, 0, 0.85), rgba(103, 103, 103, 0.85));
-fx-background-radius:20px;
-fx-cursor:hand;
}

.close{
-fx-background-color:linear-gradient(to bottom right , rgba(0, 0, 0, 0.85), rgba(103, 103, 103, 0.85));
-fx-background-radius:3px;
-fx-cursor:hand;
}